/*

font-family: 'Quicksand', sans-serif;


font-family: 'Nanum Pen Script', cursive;
*/



.greentext {
  color: green;
}

#maintitle {
  text-decoration: underline;
 color: deeppink ;
 font-family: 'Quicksand', sans-serif;
}


#address {text-decoration: underline;
color: aqua ;
font-family: 'Nanum Pen Script', cursive;

}

a {
  color:brown;

}

a:hover { text-decoration: underline;}
a:visited { color: green;}

.sizetext {
font-size: 44px
}



.lazy {color: red}

.photo {text-decoration: underline;}

.yellowtext {color: yellow;}
