
/*font-family: 'Mina', sans-serif;*/

html {font-family: 'Mina', sans-serif;}

.dark-bg {background: #FFFF66;}
.medium-bg { background: #003366;}
.light-bg {background: #0099CC;}

.dark-txt {color: #FFFF66;}
.medium-txt { color: #003366;}
.light-txt { color: #0099CC;}
body {padding: 0;
      margin: 0;
    text-align: center;}
/* A comment */


nav ul {list-style: none;
margin-left: 0;}



nav a {text-decoration: none;}

img {max-width: 100%;}

footer p {padding: 25px;}


td {padding: 5px 10px;
border: 1px solid #e3e3e3;}

th {background: #666;
color: white;
padding: 5px 10px;
border: 1px solid #e3e3e3;
}

table {text-align: center;
  height: 80%;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #e3e3e3;
}
