.image-bg{
background-image: url("../image/wide.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

header h1 {height:100px;
           padding-top: 80px;
           text-align: center;
           }

nav ul {
text-align: center;
}

nav li {
text-align: center;
font-size: 32px;
padding-top: 15px;
padding-bottom: 15px;
display: inline;
}

.square-img {
display: none;
}

.wide-img {
display: none;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.push{display: block;
height: 100px}
